body {
    background-color: aliceblue;
}

#head1 {
    color: red;
}
.c1{
    color: blue;
}


.container {
    max-width: 650px;
    margin: auto;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    background-color: rgb(196, 238, 184);
}

.todo-form {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.title-inp{
    margin-left: 15px;
}
.form-group {
    display: flex;
    flex-direction: column;
}

.btn-submit {
    background-color: #73db8b;
    border-radius: 10px;
    margin: 15px;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}
.inp-name{
    width: 500px;
    background-color: #73db8b;
    border: none;
    color: white;
    padding: 5px;
    outline: none;
    border-radius: 10px;
}

.todo-table {
    margin-top: 20px;
    margin-bottom: 20px;
    
    width: 100%;
    border-collapse: collapse;
}

.todo-table th, .todo-table td {
   
    border: 2px solid #fffefe;
    
    padding: 8px;
}

.btn-delete {
    background-color: red;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.btn-edit {
    background-color: blue;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    margin-left: 10px;
    cursor: pointer;
}
.btn{
    text-align: left;
    display: flex;
    align-items: end;
}

.chat-container {
    position: relative;
    height: 90vh; /* Full height chat container */
    display: flex;
    flex-direction: column;
}



.chat-inp {
    margin-top: 50px;
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}


.msg {
    background-color: #92b7db;
    padding: 8px 15px;
    border-radius: 10px;
    margin: 5px 0;
    text-align: left !important;
  
}
.chat-btn{
    margin-top:20px; 
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 8px;
    background-color: #ffffffe8;
}